<form class="form" [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
  <h1>Recuperar Senha</h1>
  <div class="emailUserSenha">
    <div class="entrada">
      <p>Nova Senha:
        <span class="password-alert">
          <app-safe-password class="safe-password-comp" *ngIf="showPassAlert"></app-safe-password>
          <img src="/assets/icons/alert-circle.svg" class="strong-password" (click)="togglePasswordAlert()">
        </span>
      </p>
      <input type="password" name="password" class="pass" formControlName="password">
      <div class="mostrarSenha">
        <input type="checkbox" class="passwordVisible" (click)="togglePassword($event)">
        <p class="checkboxText">Mostrar senha.</p>
      </div>
    </div>
    <div class="entrada">
      <p>Confirmar senha:</p>
      <input type="password" name="password_confirm" formControlName="password_confirm">
      <div class="mostrarSenha">
        <input type="checkbox" class="passwordVisible" (click)="togglePassword($event)">
        <p class="checkboxText">Mostrar senha.</p>
      </div>
    </div>
  </div>

  <div class="submit">
    <div *ngIf="!recoverForm.valid || recoverForm.controls['password'].value !== recoverForm.controls['password_confirm'].value">
      <app-form-errors [formErrors]="formErrors" *ngIf="showFormErrors"></app-form-errors>
      <img
      src="/assets/icons/alert-triangle.svg"
      title="Formulário incompleto!"
      (click)="showFormError()"
      >
    </div>
    <div *ngIf="recoverForm.valid && recoverForm.controls['password'].value === recoverForm.controls['password_confirm'].value">
      <img
      src="/assets/icons/check-circle.svg"
      title="Formulário completo!"
      >
    </div>

    <button
      class="submitButton"
      type="submit"
      [disabled]="!recoverForm.valid || recoverForm.controls['password'].value !== recoverForm.controls['password_confirm'].value"
    >
      Enviar
    </button>
  </div>
</form>
