<div class="logo">
  <a class="logo-to-home" href="/home"><img src="/assets/logos/logo-copia.jpeg" alt="Logo do site"/></a>
</div>
<div class="termosDeAcordo">
  <h2>Termos de Acordo</h2>
</div>
<ul class="topicos">
  <li>Todas as informações de cadastro como e-mail, senha, nome e datas de nascimento não serão compartilhadas com terceiros por meio do Grupo Ibidem.</li>
    <li>A data de nascimento será usada apenas para a recomendações de conteúdo dentro do learn.ibidemholding.com.</li>
    <li>Após a realização do cadastro e confirmação da Conta Ibidem, o Grupo Ibidem terá permissão para enviar emails ao usuário, apenas para suporte e comunicação com o mesmo.</li>
    <li>Após a realização do cadastro e confirmação da Conta Ibidem, o usuário poderá apagar sua conta a qualquer momento, sendo assim, perderá todos os dados da conta.</li>
    <li>Após a realização do cadastro e confirmação da Conta Ibidem, o usuário poderá atualizar as informações de sua conta.</li>
    <li>O usuário não deverá compartilhar suas informações cadastrais com terceiros, se isso for feito, o usuário irá responder por todas as atividades realizadas por tais terceiros.</li>
    <li>O Grupo Ibidem não se responsabiliza pela proteção dos dados da conta caso o usuário compartilhe esses dados com terceiros.</li>
    <li><span class="destacar" (click)="navigateTo('/account/register')">Conta Ibidem</span>: É a credencial digital formada pela combinação de login e senha, única e intransferível para cada usuário do learn.ibidemholding, que dará permissão ao usuário acessar todas os benefícios do learn.ibidemholding.com.</li>
    <li>O usuário está sujeito a ter sua conta removida permanentemente dos nossos serviços caso utilize nomes ofensivos em seu cadastro ou desrespeite nossas políticas de uso da conta.</li>
    <li>O learn.ibidemholding.com usará cookies somente para criar uma exeperiência de uso melhor para o usuário.</li>
    <li>Após a realização do cadastro, o usuário confirma que leu e concorda com todos os termos de acordo listados acima.</li>
</ul>
