<form class="form" [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
  <h1>Recuperar Senha</h1>
  <div class="emailUserSenha">
    <div class="entrada">
      <p>Email:</p>
      <input type="text" name="email" formControlName="email">
    </div>
  </div>

  <div class="submit">
    <div *ngIf="!recoverForm.valid">
      <app-form-errors [formErrors]="formErrors" *ngIf="showFormErrors"></app-form-errors>
      <img
      src="/assets/icons/alert-triangle.svg"
      title="Formulário incompleto!"
      (click)="showFormError()"
      >
    </div>
    <div *ngIf="recoverForm.valid">
      <img
      src="/assets/icons/check-circle.svg"
      title="Formulário completo!"
      >
    </div>
    <button
      class="submitButton"
      type="submit"
      [disabled]="!recoverForm.valid"
    >
      Enviar
    </button>
  </div>
</form>
