<app-course-unfinished-popup
  [title]="'Aviso Ibidem'"
  [courseTitle]="popupCourseTitle"
  [show]="showPopup"
  [status]="popupStatus"
>
</app-course-unfinished-popup>

<section class="destaque">
  <div class="banner">
    <h2 class="banner-text">Aqui você aprende o que a escola não ensina</h2>
  </div>
  <div class="highlights">
    <div class="our-courses">
      <div class="courses-banner">
        <h2 class="courses-title">Confira nossos cursos</h2>
      </div>
      <div class="courses">
        <div class="course" *ngFor="let course of courses">
          <div class="long-description">
            <p>{{ course.long_description }}</p>
          </div>
          <div class="course-image" style="background-image: url({{course.image}});" (mouseenter)="swapPlaySeeMore($event)" (mouseleave)="swapPlaySeeMore($event)">
            <div class="play" style="display: flex;">
              <img src="../../../assets/icons/play.svg">
            </div>
            <div class="see-more">
              <button (click)="navigateTo(course.url, course.name)">Saiba mais</button>
            </div>
          </div>
          <h3 class="course-title" (click)="navigateTo(course.url, course.name)">{{ course.name }}</h3>
          <div class="details">
            <div class="short-description">
              <p>{{ course.short_description }}</p>
            </div>
            <div class="price">
              <div class="value">
                <p>{{ course.price | currency:'BRL' }}</p>
              </div>
              <div class="share-buttons">
                <!-- Whatsapp -->
                <a *ngIf="!isMobile" href="https://web.whatsapp.com/send?text={{ course.url }}" data-action="share/whatsapp/share" target="_blank">
                  <i class="fa fa-whatsapp" style="font-size: 18px;cursor: pointer;"></i>
                </a>
                <a
                  *ngIf="isMobile"
                  href="whatsapp://send?text={{ course.url }}"
                  data-action="share/whatsapp/share"
                  target="_blank"
                >
                  <i class="fa fa-whatsapp" style="font-size: 18px;cursor: pointer;"></i>
                </a>
                <!-- Facebook -->
                <a
                  href="https://www.facebook.com/sharer/sharer.php?u={{ course.url }}" target="_blank"
                  rel="noopener"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
                </a>
                <!-- Twitter -->
                <a
                  class="twitter-share-button"
                  href="https://twitter.com/intent/tweet?text={{ course.url }}"
                  target="_blank"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
                </a>
                <!-- Copy -->
                <a (click)="copyToClipboard(course.url)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>
                </a>
              </div>
            </div>
          </div>
          <div class="more-details" (click)="toggleLongDescription($event)">
            <img src="../../../assets/icons/plus.svg">
          </div>
        </div>
      </div>
    </div>
    <div class="content-highlights">
      <div class="content-banner">
        <h2 class="highlights-title">Nossos Destaques</h2>
      </div>
      <div class="articles">
        <div class="article" *ngFor="let article of highlight_articles">
          <div class="article-image" (click)="navigateToArticle(article.author, article._id!)" style="background-image: url(/assets/images/{{article.image}});"></div>
          <div class="article-details">
            <div class="name">
              <h3 (click)="navigateToArticle(article.author, article._id!)">
                {{ article.title }}
              </h3>
            </div>
            <div class="description">
              <p>{{ article.subtitle }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
